.carousel-card{
    width: 14vw;
}

.user-posted{
    font-size: clamp(0.7rem, 0.85vw, 1rem);
}

.carousel-card .card-text{
    font-weight: 500;
}

@media (max-width: 768px) {
    .carousel-card{
        width: 25vw;
    } 
}

@media (max-width:480px) {
    .carousel-card .card-text{
        font-size: 0.8rem;
    }

    .user-posted{
        font-size: 0.65rem;
    }
    
}