.category-select {
	border: solid #d9d9d9 1px;
	border-radius: 5px;
	width: 20vw;
	min-width: 200px;
	height: fit-content;
	background-color: #fffdf8;
}

.custom-form {
	width: 100%;
	min-width: 170px;
}

.custom-form .form-label {
	font-size: clamp(0.85rem, 1.1vw, 1.1rem);
}

@media (max-width: 590px) {
	.container-div {
		flex-flow: wrap;
	}

	.category-select {
		width: 65vw;
	}
}
