.navbar {
    padding: 10px;
    height: fit-content;
    min-height: 12%;
    background-color: #f8c8c8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 98%;
    gap: 4%;
    margin: 1%;
}

.navbar-brand {
    min-width: 100px;
    max-width: 200px;
    margin: 0;
    padding: 0;
    color: #af0000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.brand-text {
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    line-height: 1.2;
    padding-left: 20%;
    padding-bottom: 10%;
    font-weight: 500;
    color: #af0000;

}

.smalltext {
    color: grey;
    font-size: clamp(0.6rem, 1.5vw, 0.75rem);
    font-style: italic;
    position: absolute;
    left: 20%; /* Moves the small text slightly to the right */
    top: 100%; /* Places it below the logo text */
    transform: translateY(-50%);
    padding-bottom: 20%;
}

.authentication-container {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 100px;
    max-width: 200px;
    font-size: clamp(0.8rem, 1.5vw, 0.9rem);
    padding-right: 1%;
}

.bi-box-arrow-right {
    align-self: center;
}

.bi-person-circle,
.bi-box-arrow-right {
    font-size: clamp(1.5rem, 3vw, 1.75rem);
    cursor: pointer;
}

.bi-box-arrow-right {
    color: #af000090;
}

.bi-box-arrow-right:hover {
    color: black;
}

.flex-grow-1 {
    max-width: 600px;
}

.authentication-container a {
    text-decoration: none; /* Removes underline */
    color: black; /* Sets text color to black */
    font-weight: 400;
}

.authentication-container a:hover {
    text-decoration: none; /* Optional: underline on hover if desired */
    color: black; /* Keeps the hover color black */
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-brand {
        margin-bottom: 10px; /* Adds space between logo and search bar */
    }

    .flex-grow-1 {
        margin-top: 10px; /* Adds padding when search bar moves below logo */
    }

    .authentication-container {
        justify-content: center;
        margin-top: 10px;
    }
}
