.navbar {
    height: fit-content;
    background-color: #f8c8c8;
}

.navbar-brand {
    position: relative;
}

.brand-text {
    font-size: clamp(1.25rem, 2.5vw, 1.4rem);
    color: #af0000;
}

.smalltext {
    color: rgb(93, 93, 93);
    font-size: clamp(0.7rem, 1.5vw, 0.75rem);
    font-style: italic;
    position: absolute;
    left: 20%; 
    top: 100%; 
    transform: translateY(-40%);
}

.authentication-container {
    gap: 1.2vw;
    font-size: clamp(0.8rem, 1.5vw, 0.9rem);
    padding-right: 1.5%;
}

.bi-person-circle,
.bi-box-arrow-right {
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    cursor: pointer;
}

.bi-box-arrow-right {
    color: #af000090;
}

.bi-person-circle {
    opacity: 85%;
}


.username{
    text-decoration: none;
    font-size: clamp(0.9rem, 3vw, 1.15rem);
}


@media (max-width: 768px) {
    .authentication-container {
        margin-bottom: 0.7vh;
    }
}
