.form-title-style {
	color: #b40000;
	font-size: clamp(1.2rem, 1.6vw, 1.5rem);
	font-weight: 500;
}

.create-closet-form {
	width: 60vw;
	background-color: #f0f0f0;
}

.create-closet-form form .form-group {
	width: 30vw;
}

.map {
	height: 400px;
}

.create-closet-form .form-label {
	font-size: clamp(0.8rem, 1.6vw, 1rem);
}

@media (max-width: 768px) {
	.create-closet-form {
		width: 65vw;
	}
	.create-closet-form form .form-group {
		width: 40vw;
	}
	.create-closet-form .form-control {
		height: 6vw;
		font-size: 0.9rem;
	}
}

@media (max-width: 480px) {
	.create-closet-form {
		width: 75vw;
	}
	.form-title-style {
		font-size: 1rem;
	}

	.create-closet-form .form-control {
		font-size: 0.8rem;
	}
}
