.wardrobe-controls {
	flex-direction: column;
	width: 25vw;
	margin-right: 5vw;
}

.wardrobe-controls img {
	width: 10vw;
}

.control-component {
	flex-direction: column;
	align-items: center;
}

.control-component Button {
	width: 15vw;
}

@media (max-width: 768px) {
	.control-component Button {
		width: auto;
	}

	.wardrobe-controls {
		flex-direction: row;
		margin-bottom: 3vw;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
	}

	.wardrobe-controls img {
		margin-left: auto;
		margin-right: auto;
		width: 10vw;
	}
}
