.wardrobe-items-container {
    width: 90%;
    gap: 2vw;
    row-gap: 3vw;
    max-height: fit-content;
}

@media (max-width: 768px) {
    .wardrobe-items-container {
        padding-left: 2vw;
        gap: 3.5vw;
        row-gap: 4.5vw;
    }
}

@media (max-width: 480px) {
    .wardrobe-items-container {
        padding-left: 5vw;
        gap: 7vw;
    }
}
