.secondary-heading-text {
	font-size: 1.7rem;
	font-weight: 500;
	color: #af0000;
}

.secondary-heading-hr {
	width: 100%;
	height: 3px;
	color: #ffc8c8;
	background-color: #ffc8c8;
	opacity: 100%;
}

.secondary-heading-container {
	flex-basis: 72%;
	max-width: 72%;
}
