.title-style {
	color: #b40000;
	font-size: clamp(1.2rem, 1.6vw, 1.5rem);
	font-weight: 500;
}

.outfit-suggestion-box {
	width: 80vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.outfit-components {
	margin-left: 5vw;
	margin-top: 2vw;
	width: 70vw;
	gap: 2.5vw 4vw;
}

.item {
	width: 28vw;
}

.item > img {
	width: 12vw;
	height: fit-content;
}

.item p {
	margin: 0;
	font-size: 0.9rem;
	color: #333;
}

.item p:first-child {
	font-weight: bold;
	font-size: 1rem;
}

.buttons-w {
	gap: 3vw;
}

@media (max-width: 768px) {
	.outfit-suggestion-box {
		padding-top: 4vw;
		padding-bottom: 4vw;
	}
	.item {
		width: 70vw;
	}
	.item > img {
		width: 20vw;
	}

	.outfit-components {
		margin-top: 3vw;
		margin: 1vw;
	}

	.buttons-w {
		width: 100%;
	}

	.buttons-w Button {
		width: 30vw;
	}
}
